h4 {
  color: #3751fe;
  margin: 50px 50px 30px 50px;
}

h2 {
  color: #3751fe;
  margin-right: 50px;
  margin-left: 50px;
}

a {
  text-decoration: none;
}
.Left{
  height: 100vh;
}
.Right{
  height: 100vh;
  background: #E5E5E569;
}

.pwelcom {
  margin-left: 50px;
}

form {
  margin-left: 50px;
}

.check1 {
  margin-left: 10px;
}

.check2 {
  margin-left: 40px;
}

.alertlink {
  color: rgba(29, 27, 27, 0.555) !important;
}

.alert-primary {
  color: unset;
  background-color: unset;
  border-color: unset;
}

.alert {
  border: unset;
}

.alert-primary .alert-link {
  color: rgba(29, 27, 27, 0.555);
}

.nav {
  margin-top: 50px;
}

.itemHome {
  margin-left: 50px;
}

.itemShopify {
  margin-left: 20px;
}
